/*STILE APPLICATO AL TAG BODY*/
body{
	font-family:verdana;
	margin:0px;
}

/*STILE APPLICATO AL TAG CON ID HEADER*/
#header{
  background: deepskyblue;
  margin: 0;
}

/*STILE APPLICATO AL TAG H1 (A QUALSIASI LIVELLO) DEL TAG CON ID HEADER*/
#header h1 {
  text-decoration: none;
  display: block;
  padding: 1em;
  color: white;
  margin: 0px 0px 0px 0px;
}

/*STILE APPLICATO ALLA CLASSE NAVIGATION*/
.navigation {
  list-style: none;
  margin: 10px; 
  padding:20px;
}

/*STILE APPLICATO AI TAG LI FIGLI (DI QUALSIASI LIVELLI) DELLA CLASSE NAVIGATION*/
.navigation li {
  display: inline;

}

/*STILE APPLICATO AI TAG A FIGLI (DI QUALSIASI LIVELLI) DELLA CLASSE NAVIGATION*/
.navigation a {
  text-decoration: none;
  padding: 10px;
  color: white;
}

/*STILE APPLICATO AI TAG A FIGLI (DI QUALSIASI LIVELLI) DELLA CLASSE NAVIGATION, NEL MOMENTO IN CUI CI SI POSIZIONA SOPRA DI ESSI*/
.navigation a:hover {
  background: DODGERBLUE;
}

/*STILE APPLICATO AI TAG HEADER FIGLI (DIRETTI) DEL TAG SECTION*/
section > header{
  padding-left:25px;
}

/*STILE APPLICATO AI TAG HEADER FIGLI (DIRETTI) DEL TAG SECTION*/
article > header {
  padding-left:30px;
}

/*STILE APPLICATO AL TAG CON ID ARTICLECONTENT*/
#articleContent{
  margin-left:50px;
  border-left: 25px solid grey;
  padding-left:15px;
  padding-right:150px;
}

/*STILE APPLICATO AL TAG FORM*/
form {
  padding-left:70px;
}

/*STILE APPLICATO AL TAG INPUT*/
input{
  margin: 5px;
  display:block;
}

/*STILE APPLICATO AL TAG TEXTAREA*/
textarea{
  margin: 5px;
  display:block;
}

/*STILE APPLICATO AL TAG LABEL*/
label { 
	display:block;
}

/*STILE APPLICATO AI TAG CON ID FOOTER*/
#footer{
  background: deepskyblue;
  margin: 0;
}

/*STILE APPLICATO AI TAG P FIGLI (DI QUALSIASI LIVELLO) DEL TAG CON ID FOOTER*/
#footer p {
  font-size: 10px;
  text-decoration: none;
  display: block;
  padding: 1em;
  color: white;
  margin: 0px 0px 0px 0px;
}

/*STILE APPLICATO ALLE VALIDAZIONI DI TIPO REQUIRED E INVALID*/
:invalid:required{
  border: 1px solid red;
}




	
	